  @import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Roboto:wght@300&display=swap');

.animate-character{
  background-image: linear-gradient(
    -225deg,
    #ece8e1 0%,
    #c720b9 17%,
    #dda41f 34%,
    #eddcdc 50%,
    #dda41f 67%,
    #c720b9 83%,
     #ece8e1 100%
  );

  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

footer {
  position:relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;

  }

.picc {
  width: 150px; /* Ajustez la largeur selon vos besoins */
  height: 150px; /* Ajustez la hauteur selon vos besoins */
  border-radius: 50%;
  overflow: hidden;
}

h1 { 
  font-family: 'Grand Hotel', cursive;
  }

.nav-item{
  font-family: 'Roboto', sans-serif;
  }

.navbar li{
  margin-bottom:15px;
}

.lastitems {
margin-top: 200px;
} 

.picc2 {
  width: 30px; /* Ajustez la largeur selon vos besoins */
  height: 30px; /* Ajustez la hauteur selon vos besoins */
  border-radius: 50%;
  overflow: hidden;
}

ul li:hover {
  background-color: rgb(237, 240, 241);
  border-radius: 10%;

}

.modal {
  visibility: hidden;
  opacity: 1;
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(133, 146, 144, 0.7);
  transition: all .6s;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}


.modal_content {
  border-radius: 5px;
  position: relative;
  width: 1200px;
  max-width: 90%;
  background: white;
  padding: 1.5em 2em;
  display: flex;
}


.modal_close {
  position: absolute;
  top: 50px;
  right: 50px;
  color: rgb(214, 119, 30);
  text-decoration: none;
}