  @import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Roboto:wght@300&display=swap');

.animate-character{
  background-image: linear-gradient(
    -225deg,
    #ece8e1 0%,
    #c720b9 17%,
    #dda41f 34%,
    #eddcdc 50%,
    #dda41f 67%,
    #c720b9 83%,
     #ece8e1 100%
  );

  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

footer {
  position:relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;

  }

.picc {
  width: 200px; /* Ajustez la largeur selon vos besoins */
  height: 200px; /* Ajustez la hauteur selon vos besoins */
  border-radius: 50%;
  overflow: hidden;
}

h1 { 
  font-family: 'Grand Hotel', cursive;
  }

.nav-item{
  font-family: 'Roboto', sans-serif;
  }

.navbar li{
  margin-bottom:15px;
}

.lastitems {
margin-top: 200px;
} 

.picc2 {
  width: 30px; /* Ajustez la largeur selon vos besoins */
  height: 30px; /* Ajustez la hauteur selon vos besoins */
  border-radius: 50%;
  overflow: hidden;
}

.grille {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 300px); /* Choisir la taille que vous préférez pour les carrés */
  grid-gap: 10px;
}

.one {
  grid-column: 1 / 1;
  grid-row: 1;
}
.two {
  grid-column: 2 / 2;
  grid-row: 1 / 1;
}
.three {
  grid-column: 3 / 3;
  grid-row: 1 /1;
}
.four {
  grid-column: 1 / 1 ;
  grid-row: 2 / 3;
}
.five {
  grid-column: 2 / 2;
  grid-row: 2 / 3;
}
.six {
  grid-column: 3 / 3;
  grid-row: 2 / 3;
}

.one, .two, .three, .four, .five, .six {
  width:100%; /* Assure que chaque image occupe toute la largeur de sa cellule */
  height:100%; /* Assure que chaque image occupe toute la hauteur de sa cellule */
  object-fit: cover; /* Remplit la boîte en ajustant la taille de l'image, tout en conservant son ratio d'aspect */
}

  