  @import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Roboto:wght@300&display=swap');

.animate-character
{
  background-image: linear-gradient(
    -225deg,
    #ece8e1 0%,
    #c720b9 17%,
    #dda41f 34%,
    #eddcdc 50%,
    #dda41f 67%,
    #c720b9 83%,
     #ece8e1 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


footer {
    position:relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  } 

  h1 { 
    font-family: 'Grand Hotel', cursive;


  }

  .nav-item{
    font-family: 'Roboto', sans-serif;
  }

  .navbar li{
    margin-bottom:15px;
}

.lastitems {
margin-top: 200px;
} 